.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lightgray);
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logoContainer {
  height: 2.8rem;
  aspect-ratio: 682/318;
}

.logoContainer:hover {
  box-shadow: var(--cardShadow);
  cursor: pointer;
}

.logo {
  height: 100%;
  width: 100%;
}

.user {
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0.5rem;
  }
}
