.container {
  padding: 1rem;
}

.highscoreContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  box-shadow: var(--cardShadow);
  /* box-sizing: border-box; */
  /* border-bottom: 1px solid var(--gray); */
}

.innerContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.innerContainer__row {
  flex-direction: row;
  align-items: center;
}

.highlight {
  position: absolute;
  right: -1.3rem;
  top: -0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  /* border: 2px solid red; */
}

.highlightBorder {
  border-top: 3px solid var(--yellow);
}

.thisGame {
  z-index: 100;
  box-shadow: var(--cardShadow);
}

.rank {
  font-family: var(--font);
  width: 3.6rem;
  display: flex;
  justify-content: center;
}

.time {
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--font);
  padding-right: 0.5rem;
}

.penalties {
  display: flex;
  justify-content: center;
  min-width: 2rem;
  padding: 0.5rem 0 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--font);
  color: var(--red);
  background-color: var(--redBackground);
}

.noPenalties {
  color: var(--green);
  background-color: var(--greenBackground);
}

.title {
  font-family: var(--font);
  font-size: small;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--lightGray);
  box-shadow: var(--cardShadow);
  border-radius: 0.3rem 0.3rem 0 0;
}

.extraInfo {
  font-size: 0.5rem;
  display: flex;
  gap: 0.25rem;
}

.innerContainer__row .extraInfo {
  font-size: 0.75rem;
}

.userName {
  font-weight: bold;
  max-width: 6rem;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.innerContainer__row .userName {
  max-width: 10rem;
}

.retryText {
  font-size: x-small;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.retryText a {
  text-decoration: underline;
  color: var(--purple);
  cursor: pointer;
  margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .innerContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

/* Mobile styling */

.mobileContainer {
  position: fixed;
  z-index: 1001;
  bottom: 0;
  width: 100%;
  background-color: var(--white);
  box-shadow: var(--cardShadow);
}

.mobileProgress {
  box-shadow: var(--cardShadow);
}

.mobileNextHighscoreContainer {
  display: flex;
  position: absolute;
  z-index: 0;
  right: 0.5rem;
  top: -1.5rem;
  height: 1.5rem;
  width: 3rem;
  /* padding: 0.25rem; */
  background-color: var(--white);
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: var(--cardShadow);
  align-items: center;
  justify-content: center;
}

.arrow {
  transition: transform var(--slowTransition) ease-in-out;
}

.closeArrow {
  transform: rotate(-180deg);
}

.mobileHighscoresContainer {
  transition: max-height var(--slowTransition) ease-in-out;
}

.loadingContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.loadingContainer span {
  font-size: small;
}

/* Highscore list */

.highscoreListContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.highscoreListHeader {
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--gray);
  box-shadow: var(--cardShadow);
  border-radius: 0.3rem 0.3rem 0 0;
}

.highscoreListHeader span {
  font-family: var(--font);
  font-size: small;
  font-weight: 600;
}

.highscoreFilterContainer {
  display: flex;
  flex-direction: row;
  box-shadow: var(--cardShadow);
  cursor: pointer;
}

.highscoreFilterItem {
  background-color: var(--lightGray);
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 28px;
  font-family: var(--font);
  font-size: small;
}

.filterSelected {
  background-color: var(--gray);
  box-shadow: var(--cardShadow);
}
