/* Multiplayer home page */

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--lightgray);
}

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  max-width: 480px;
  align-self: stretch;
  max-height: 500px;
  gap: 1rem;
}

.title {
  font-family: var(--font);
  color: var(--black);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.lobbyListcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

/* Lobby list item */
.lobbyListItemContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--white);
  width: 100%;
  max-width: 480px;
  flex-grow: 1;
  gap: 1rem;
  padding: 1rem;
  font-family: var(--font);
  box-shadow: var(--cardShadow);
  border-radius: var(--cardBorderRadius);
}

.lobbyTitle {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: var(--font);
  color: var(--black);
  max-width: 70%;
}

.userIconsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.playerLobby {
  box-shadow: var(--cardShadowElevated);
}

.addPlayerIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  font-size: x-small;
  background-color: var(--gray);
  box-shadow: var(--cardShadow);
  transition: all var(--fastTransition) ease-in-out;
}

.addPlayerIcon:hover {
  background-color: var(--mediumlightgray);
}

.lobbyActionButtonsContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  top: 0.5rem;
  right: 0.5rem;
}

.lobbyActionButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  background-color: var(--gray);
  padding: 0.5rem;
  border-radius: var(--cardBorderRadius);
}

.lobbyActionButton:hover {
  box-shadow: var(--cardShadow);
}

.lobbyActionButton:active {
  box-shadow: var(--cardShadowPressed);
}

.startGameButton {
  background-color: var(--greenBackground);
  color: var(--green);
}

.leaveLobbyButton {
  background-color: var(--redBackground);
  color: var(--red);
}

/* Create lobby button */
.createLobbyButton {
  cursor: pointer;
  display: flex;
  flex-grow: unset;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.createLobbyButton:hover {
  background-color: var(--gray);
}

.createLobbyButton:active {
  box-shadow: var(--cardShadowPressed);
  background-color: var(--gray);
}

.createLobbyLabel {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: var(--font);
  color: var(--black);
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  .columnContainer {
    width: 90%;
    height: unset;
    align-self: unset;
  }

  .lobbyTitle {
    font-size: 1rem;
    max-width: 50%;
  }
  .lobbyActionButton {
    font-size: 0.8rem;
  }
}
