.container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.bodyContainer {
  width: 100%;
  height: 100%;
  background-color: var(--lightgray);
  overflow: scroll;
}
