.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  pointer-events: none;
  user-select: none;
  transition: all var(--fastTransition) ease-in-out;
}

.image {
  opacity: 1;
}

.shape {
  fill: var(--purpleBackground);
  filter: drop-shadow(5px 12px 0px rgb(0 0 0 / 1));
}

.text {
  fill: var(--yellow);
  filter: drop-shadow(5px 12px 0px rgb(0 0 0 / 1));
}

.animate {
  animation: shoot 1s ease-out;
  opacity: 1;
}
@keyframes shoot {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  20% {
    transform: scale(1);
    opacity: 1;
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
