.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--lightgray);
  margin: 1rem;
  gap: 1rem;
  padding-left: 1rem;
  font-family: var(--font);
  box-shadow: var(--cardShadow);
  border-radius: var(--cardBorderRadius);
}

.setsContainer {
  height: 3.8rem;
  min-width: 3.8rem;
  padding: 0 0.5rem 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  box-shadow: var(--cardShadow);
  font-size: 3rem;
  font-weight: bold;
  font-family: var(--font);
  color: black;
  border-radius: 0.3rem;
  transition: all var(--slowTransition) ease-in-out;
}
