.shape {
  border-style: solid;
  border-width: var(--borderWidth);
  stroke-width: var(--strokeWidth);
}

/* Shapes */

.oval {
  aspect-ratio: 8 / 4;
  height: 20%;
  border-radius: 50% / 50%;
}

.squiggle {
  aspect-ratio: 8 / 4;
  height: 20%;
  overflow: visible;
}

.box {
  aspect-ratio: 8 / 4;
  height: 18%;
}

/* ShapeVariants */

.DIAMOND {
  height: 18%;
  overflow: visible;
}

.TUBE {
  border-radius: 999px;
}

/* Colors */

.red {
  background: var(--red);
  border-color: var(--red);
  stroke: var(--red);
}

.blue {
  background: var(--blue);
  border-color: var(--blue);
  stroke: var(--blue);
}

.green {
  background: var(--green);
  border-color: var(--green);
  stroke: var(--green);
}

/* Shading */

.solid_red {
  stroke: none;
  fill: var(--red);
}

.solid_blue {
  fill: var(--blue);
  stroke: none;
}

.solid_green {
  stroke: none;
  fill: var(--green);
}

.striped_red {
  background: radial-gradient(circle, var(--red) 25%, transparent 26%),
    radial-gradient(circle at bottom left, var(--red) 12%, transparent 13%),
    radial-gradient(circle at bottom right, var(--red) 12%, transparent 13%),
    radial-gradient(circle at top left, var(--red) 12%, transparent 13%),
    radial-gradient(circle at top right, var(--red) 12%, transparent 13%);
  background-size: 0.33em 0.33em;
  background-color: var(--white);
  opacity: 1;
}

.striped_blue {
  background: radial-gradient(circle, var(--blue) 25%, transparent 26%),
    radial-gradient(circle at bottom left, var(--blue) 12%, transparent 13%),
    radial-gradient(circle at bottom right, var(--blue) 12%, transparent 13%),
    radial-gradient(circle at top left, var(--blue) 12%, transparent 13%),
    radial-gradient(circle at top right, var(--blue) 12%, transparent 13%);
  background-size: 0.33em 0.33em;
  background-color: var(--white);
  opacity: 1;
}

.striped_green {
  background: radial-gradient(circle, var(--green) 25%, transparent 26%),
    radial-gradient(circle at bottom left, var(--green) 12%, transparent 13%),
    radial-gradient(circle at bottom right, var(--green) 12%, transparent 13%),
    radial-gradient(circle at top left, var(--green) 12%, transparent 13%),
    radial-gradient(circle at top right, var(--green) 12%, transparent 13%);
  background-size: 0.33em 0.33em;
  background-color: var(--white);
  opacity: 1;
}

.open {
  background-color: transparent;
  fill: none;
}

@media only screen and (max-width: 600px) {
  .shape {
    border-width: calc(var(--borderWidth) * 0.86);
    stroke-width: var(--strokeWidth);
  }

  .striped_red,
  .striped_blue,
  .striped_green {
    background-size: 0.27em 0.27em;
  }
}
