.container {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--cardShadow);
  border-radius: var(--cardBorderRadius);
  cursor: pointer;
  transition: all var(--regularTransition) ease-in-out;
}

.container:hover {
  box-shadow: var(--cardShadowElevated);
  background-color: var(--lightgray);
}

.smallContainer {
  padding: 0.5rem;
  font-size: small;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    height: unset;
    padding: 1rem;
  }
}
