.container {
  position: relative;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  box-shadow: var(--cardShadow);
  border-radius: var(--cardBorderRadius);
  cursor: pointer;
  transition: all var(--regularTransition) ease-in-out;
  user-select: none;
}

.container:hover {
  background-color: var(--gray);
}

.container:active {
  box-shadow: var(--cardShadowPressed);
  background-color: var(--gray);
}

.smallContainer {
  padding: 0.5rem;
  font-size: small;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.loading {
  pointer-events: none;
  box-shadow: var(--cardShadowPressed);
  background-color: var(--gray);
  opacity: 0.75;
}

.openLobbiesCount {
  position: absolute;
  font-size: small;
  bottom: 1rem;
  color: var(--green);
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    height: unset;
    padding: 1rem;
  }

  .openLobbiesCount {
    font-size: x-small;
    bottom: 0.25rem;
  }
}
