.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.contentContainer {
  max-width: 600px;
  padding-top: 3rem;
}

.contentContainer h2 {
  padding-top: 2rem;
}

.featureContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1.25rem;
}

.featureExampleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featureExampleContainer span,
.cardSelectionContainer span {
  margin-top: 0.25rem;
  font-size: smaller;
  font-style: italic;
  color: var(--darkgray);
}

.cardFeatureContainer {
  position: relative;
  height: 100px;
}

.contentContainer p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.listContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.list {
  margin-left: 0rem;
  list-style: none;
}

.highlightText {
  font-weight: bold;
  color: var(--purple);
  /* text-decoration: underline;
  text-decoration-color: var(--yellow); */
  border-bottom: 2px solid var(--yellow);
}

.listSeparator {
  font-weight: bold;
}

.exampleContainer {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.completed {
  opacity: 0.5;
  pointer-events: none;
  border-bottom: 2px solid var(--gray);
}

.solved {
  border: 3px dashed var(--green) !important;
}

.error {
  border: 3px dashed var(--red) !important;
}

.answerContainer {
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: var(--cardShadow);
  border-radius: 0.25rem;
  background-color: var(--white);
}

.correctAnswer h3 {
  color: var(--green);
}

.wrongAnswer h3 {
  color: var(--red);
}

.finishContainer {
  padding-bottom: 5rem;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.gameContainerRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.cardHighlighter {
  padding: 0.25rem;
  border: 3px dashed transparent;
  border-radius: 0.5rem;
  transform: translateX(-0.25rem);
}

.correct {
  color: var(--green);
}

.wrong {
  color: var(--red);
}

.gameMessageContainer {
  margin-top: 2rem;
}

.finalButtonContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.setExample__cardContainer {
  margin-top: 3rem;
  position: relative;
  transition: all 1s 0.5s ease-in-out;
}

.setExample__cardPlaceholder {
  position: absolute;
  left: 160px;
  top: -8px;
  aspect-ratio: 8 / 11.5;
  box-sizing: content-box;
  padding: 5px;
  border: 3px dashed var(--gray);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setExample__cardPlaceholder span {
  font-size: 3rem;
  color: var(--gray);
}

.setExample__pickCardInstruction {
  position: absolute;
  top: -1.5rem;
  left: 310px;
  font-size: smaller;
  font-style: italic;
  color: var(--darkgray);
}

@media only screen and (max-width: 600px) {
  .contentContainer {
    max-width: 80%;
  }

  .listContainer {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .setExample__cardContainer {
    margin-top: 2rem;
  }

  .setExample__pickCardInstruction {
    top: 120px;
    left: 25px;
  }
}
