.userContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  background-color: var(--white);
  box-shadow: var(--cardShadow);
  border-radius: var(--cardBorderRadius) 1.4rem 1.4rem var(--cardBorderRadius);
  text-decoration: none;
  color: var(--black);
}

.userContainer:hover {
  background-color: var(--lightgray);
}

.username {
  font-family: var(--font);
  user-select: none;
}

.avatar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--purple);
  box-shadow: var(--cardShadow);
  font-family: var(--font);
  font-weight: bold;
  color: var(--white);
  user-select: none;
}

.small {
  min-width: 1.5rem;
  max-width: 1.5rem;
  font-size: x-small;
}

.large {
  min-width: 3.4rem;
  max-width: 3.4rem;
}

.onlineStatus {
  position: absolute;
  bottom: -0.05rem;
  right: -0.05rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  border: 0.05rem solid var(--white);
  background-color: var(--green);
}

.offline {
  background-color: var(--red);
}
